.trendingCardMainContainer{
  /* border:2px solid blue ; */
  /*width: 20%;*/
  display: flex;
  margin-top: 1rem;
  height: 90%;
  justify-content: space-between;

}

.cardContainer{
 /* border:2px solid red;  */
 width: 16%;
 height: 100%;
 display: flex;
 /* justify-content: center; */
 flex-direction: column;
 align-items: center;
 position: relative;
}
.cardContainer:hover{
  background-color: #1f1f1f;
  cursor: pointer;
}
.cardContainer img{
  width: 94%;
  height: 60%;
  border-radius: 10px;

}
.cardContainer span{
  background: #1ed760;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 140px;
  right: 10px;
  display: none;
}
.cardContainer:hover #playButton{
  display: flex;
}
.cardContainer span svg{
  height: 60%;
  width: 60%;
}
.cardTextContainer{
  /* border: 2px solid green; */
  width: 100%;
  margin-top: 10px;
}
.cardTextContainer h2{
  font-size: 1rem;
}
.cardTextContainer p{
  font-size: 0.8rem;
}
