.sidebarMainContainer{
  /* border: 2px solid green; */
  width: 20%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(46, 46, 46,0.838), #1b1b1b,#171717);
  height: 98%;
}
.sideBarTopSection{
  height: 15%;
  /* border: 2px solid red; */
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.741);
}
.sideBarTopSection h1{
  font-size: 1rem;
}
.sideBarTopSection p{
  font-size: 1rem;
}
.sideBarMiddleSection{
  height: 38%;
  /* border: 2px solid red; */
  overflow-y: scroll;
}
.sideBarMiddleCards{
  /* border: 2px solid red; */
  margin: 1.5rem 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(46, 46, 46, 0.838);
}
.sideBarMiddleCards h1{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.sideBarMiddleCards p{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.sideBarMiddleCards button{
  padding:0.5rem 1rem;
  background-color: #fff;
  color: #171717;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: .9rem;
  font-weight: 700;
}
.sideBarBottomSectionTopContainer{
  padding: 1.3rem;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid green;  */
}
.sideBarBottomSectionTopContainer p{
  margin: .5rem;
  font-size: .7rem;
}
.sideBarBottomSectionBottomContainer{
  /* border: 2px solid green; */
  margin-bottom: 1rem;
}
.sideBarBottomSectionBottomContainer p{
  margin: .3rem;
  margin-left: 1.7rem;
  font-size: .8rem;
  font-weight: 500;
}
.sideBarBottomSectionBottomContainer button{
  color: #fff;
  border-radius: 50px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  outline: none;
  margin-left: 1.7rem;

}